<mat-toolbar color="primary">
  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="quote">Request a Quote</a>
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item routerLink="about">About Us</a>
    <a mat-menu-item routerLink="contact">Contact Us</a>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="appMenu">
    Info
  </button>
  <span class="fill-remaining-space"></span>
  <a class="nav-icon" routerLink="about"><mat-icon>account_box</mat-icon></a>
  <a class="nav-icon" routerLink="about"><mat-icon>backup</mat-icon></a>
  <a class="nav-icon" routerLink="about"><mat-icon>done</mat-icon></a>
  <a class="nav-icon" routerLink="about"><mat-icon>event</mat-icon></a>
</mat-toolbar>
